.header-container {
  width:100%;
  background-color: #fff;
}
.header-box {
  display: block;
  width: 100%;
  height:58px;
  line-height: 58px;
  border: 1px solid black;
  border-radius: 1px;

  div:first-child {
    display: inline;
    float:left;
    * {
      display: inline-block;
    }
    
    .header-icon{
      width:4em;
      height:58px;
      line-height: 58px;
      float:left;
    }
  
    h2 {
      width: auto;
      vertical-align: top;
    }
  }
  div:nth-child(2) {
    float:right;
    width:58px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    .header-user-info-icon {
      width:2em;
      height: 2em;
      vertical-align: middle;
    }
  }
}
