.modal-backgound {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translate(-50%, 0);
  z-index: 2;

  .modal-box {
    width: 640px;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
